<html>
  <head>
    <title>Ruby-Powered Games!</title>
  </head>
  <body>
    <form action="/choose_game" method="GET">
      <p><input type='submit' name='game' value='mastermind' /></p>
      <p><input type='submit' name='game' value='web_guesser' /></p>
      <p><input type='submit' name='game' value='web_cipher' /></p>
    </form>
  </body>
</html>
