<script type="text/javascript" src="/scripts/scripts.js" async></script>
<div id="board">
  <div id="title_container"><span id="title">Mastermind</span></div>
  <div id="ball_input_container">
    <div class="circle">
      <img onclick="ball_picker('blue', true);" src="/images/blue_ball.png"  alt="blue ball">
    </div>
    <div class="circle">
      <img onclick="ball_picker('green', true);" src="/images/green_ball.png" alt="green ball">
    </div>
    <div class="circle">
      <img onclick="ball_picker('orange', true);" src="/images/orange_ball.png" alt="orange ball">
    </div>
    <div class="circle">
      <img onclick="ball_picker('purple', true);" src="/images/purple_ball.png" alt="purple ball">
    </div>
    <div class="circle">
      <img onclick="ball_picker('red', true);" src="/images/red_ball.png" alt="red ball">
    </div>
    <div class="circle">
      <img onclick="ball_picker('white', true);" src="/images/white_ball.png" alt="white ball">
    </div>
  </div>
  <div id="turn_submit">
    <button type="button" onclick="turn_submit(true);">Encode!</button>
  </div>
  <div class="row" id="code">
    <div class="code_circle"></div>
    <div class="code_circle"></div>
    <div class="code_circle"></div>
    <div class="code_circle"></div>
  </div>
</div>
