<html>
  <head></head>
  <body>
    <form action="/mastermind/play" method="POST">
      <p><input type='submit' name='submit' value='codemaster' /></p>
      <p><input type='submit' name='submit' value='codebreaker' /></p>
    </form>
  </body>
</html>
