<script type="text/javascript" src="/ball_picker.js" async></script>
    <div id="board">
      <div id="ball_input_container">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
      </div>
      <div class="row" id="1">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="2">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="3">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="4">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="5">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="6">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="7">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="8">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="9">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="10">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="11">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="12">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
    </div>
