<form action="/mastermind/" method="GET">
  <div class="game_type_container">
    <p><input type='submit' name='game_type' value='codemaster' /></p>
  </div>
  <div class="game_type_container">
    <p><input type='submit' name='game_type' value='codebreaker' /></p>
  </div>
</form>
