<script type="text/javascript" src="/scripts/scripts.js" async></script>
    <div id="board">
      <div id="title_container"><span id="title">Mastermind</span></div>
      <div id="ball_input_container">
        <div class="circle">
          <img onclick="ball_picker('blue');" src="/images/blue_ball.png"  alt="blue ball">
        </div>
        <div class="circle">
          <img onclick="ball_picker('green');" src="/images/green_ball.png" alt="green ball">
        </div>
        <div class="circle">
          <img onclick="ball_picker('orange');" src="/images/orange_ball.png" alt="orange ball">
        </div>
        <div class="circle">
          <img onclick="ball_picker('purple');" src="/images/purple_ball.png" alt="purple ball">
        </div>
        <div class="circle">
          <img onclick="ball_picker('red');" src="/images/red_ball.png" alt="red ball">
        </div>
        <div class="circle">
          <img onclick="ball_picker('white');" src="/images/white_ball.png" alt="white ball">
        </div>
      </div>
      <div id="turn_submit">
        <button type="button" onclick="turn_submit();">Guess!</button>
      </div>
      <div class="row" id="1">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="2">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="3">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="4">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="5">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="6">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="7">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="8">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="9">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="10">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="11">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
      <div class="row" id="12">
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="circle"></div>
        <div class="feedback"></div>
      </div>
    </div>
