<html>
  <head>
    <meta name="viewport" content="height=device-height,initial-scale=1,maximum-scale=1,user-scalable=no"/>
    <title>Ruby-Powered Mastermind!</title>
    <link rel="stylesheet" href="/css/styles.css" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Aldrich' rel='stylesheet'>
  </head>
  <body ondragstart="return false">
    <div id="board">
      <div id="title_container"><span id="title">Mastermind</span></div>
        <%= yield %>
    </div>
  </body>
</html>
