<html>
  <head></head>
  <body>
    <form name="player_input" method="POST">
      <% if game_type == 'codemaster' %>
          <p>You are the codemaster! Please type 4 capital letters in a row of BGOPRW (ex: PPWW) to create the code, then watch the AI solve your code.</p>
          <input type='text' name='code' />
          <input type='submit' value='Submit Code' />
      <% elsif game_type == 'codebreaker' %>
          <p>You are the codebreaker! The AI has chosen a secret code. Please type 4 capital letters in a row of BGOPRW to guess the code.</p>
          <input type='text' name='guess' />
          <input type='submit' value='Guess' />
      <% end %>
    </form>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
    <div></div>
  </body>
</html>
