body {
  margin: 0;
  padding: 0;
}

img {
  margin-left: -10px;
  margin-top: -9px;
}

button {
  background: #5e3315;
  border: black solid 1px;
  width: 100px;
  height: 30px;
  position: center;
  font-family: "Aldrich";
  font-size: 18px;
  margin-left: 25px;
  border-radius: 3px;
}

#board{
  width: 290px;
  height: 725px;
  background: #75411c;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -350px;
  margin-left: -150px;
  border-radius: 15px;
}

#title_container{
  width: 250px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  font-family: "Aldrich";
  font-size: 40px;
}

#title{
  line-height: 55px;
  vertical-align: middle;
}

#turn_submit{
  width: 150px;
  height: 35px;
  margin: 0 auto;
}

#ball_input_container{
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 10px;
  margin-top: -10px;
}

.row{
  width: 180px;
  height: 40px;
  background: #5e3315;
  margin: 5px auto;
  border: 1px black solid;
  border-radius: 5px;
}

.circle{
  width: 10px;
  height: 10px;
  background: black;
  margin: 15px;
  margin-left: 20px;
  margin-right: 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
}

.feedback{
  width: 29px;
  height: 29px;
  margin: 5px;
  display: inline-block;
  border: 1px black solid;
  border-radius: 3px;
  float: right;
}
