body {
  margin: 0;
  padding: 0;
  font-size: 10px;
}

img {
  margin-left: -10px;
  margin-top: -9px;
  user-select: none;
}

p {
  font-family: "Aldrich";
  font-size: 16px;
}

.choice_button {
  background: #5e3315;
  border: black solid 1px;
  width: 150px;
  height: 36px;
  position: center;
  font-family: "Aldrich";
  font-size: 20px;
  margin: 5px auto;
  margin-left: 15px;
  border-radius: 3px;
}

.choice_button:hover {
  background-color: #D88939;
}

#guess_button {
  background-color: #5e3315;
  border: black solid 1px;
  width: 100px;
  height: 30px;
  position: center;
  font-family: "Aldrich";
  font-size: 18px;
  margin: 5px auto;
  margin-left: 25px;
  border-radius: 3px;
}

#guess_button:hover {
  background-color: #D88939;
}

#board{
  width: 29em;
  height: 78em;
  background: #75411c;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -38em;
  margin-left: -15em;
  border-radius: 1.5em;
}

#rules_container{
  margin: 20px auto;
  width: 270px;
  text-align: left;
}

#title_container{
  width: 250px;
  height: 50px;
  margin: 10px auto;
  text-align: center;
  font-weight: bold;
  font-family: "Aldrich";
  font-size: 40px;
}

#title{
  line-height: 55px;
  vertical-align: middle;
}

#ball_input_container{
  width: 200px;
  height: 40px;
  margin: 0 auto;
  margin-bottom: 5px;
  margin-top: -10px;
}

#turn_submit_container{
  width: 150px;
  height: 40px;
  margin: 0 auto;
}

.ball_display{
  width: 148px;
  height: 40px;
  background: #5e3315;
  margin: 5px auto;
  border: 1px black solid;
  border-radius: 5px;
}

.game_type_container{
  width: 180px;
  height: 40px;
  margin: 0 auto;
  margin-top: -10px;
  margin-bottom: 20px;
}

.row{
  width: 180px;
  height: 40px;
  background: #5e3315;
  margin: 5px auto;
  border: 1px black solid;
  border-radius: 5px;
}

.circle{
  width: 10px;
  height: 10px;
  background: black;
  margin: 15px;
  margin-left: 22px;
  margin-right: 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
}

.feedback{
  width: 27px;
  height: 28px;
  margin: 5px;
  display: inline-block;
  border: 1px black solid;
  border-radius: 3px;
  float: right;
}

.feedback_circle{
  width: 6px;
  height: 6px;
  background: black;
  margin: 4px;
  margin-left: 5px;
  margin-right: 0;
  border-radius: 50%;
  display: inline-block;
  float: left;
}
