<html>
  <head></head>
  <body>
    <form action="/cipher/" method="POST">
      <p>Your message: <input type='text' name='message' /></p>
      <p>Shift (0-25): <input type='text' name='shift' /></p>
      <input type='submit' value='Cipher!' />
    </form>
  </body>
</html>
